<footer class="footer pt-3  ">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-center">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          <div class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            &copy; Copyright <span id="current-year"></span> Upfield | Built by <a class="" href="https://ujuzicode.com" target="_blank" style="color:#25A1D6">Ujuzi Code ™</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" >
  const year = new Date().getFullYear();
  document.getElementById("current-year").innerHTML = year;
</script>