# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Compiled Python files
*.pyc

# Logs
*.log

# Dependency directories
venv/
env/
env36/
env37/

# Project specific
instance/
*.sqlite